<script setup lang="ts">
import DefaultLayout from '@/layouts/DefaultLayout.vue';
</script>

<template>
	<DefaultLayout :back="true">
		<h1>
			{{ $t('errorView.error') }}
		</h1>
	</DefaultLayout>
</template>

<style lang="scss" module></style>
