<script setup lang="ts">
import LocationCardGrid from '@/components/LocationCardGrid.vue';
import { CURRENT_LOCATION_KEY } from '../constants';
import { useWeatherStore, getQueryKey } from '@/stores/weather';
import { onMounted, computed, ref } from 'vue';
import { useSettingsStore } from '../stores/settings';
import type { LocationCardProps } from '@/components/LocationCard.vue';
import type {
	WeatherQuerySearch,
	WeatherQueryByCoord,
	LocationWeatherInfo,
	LocationDetails,
	SearchQuery,
} from 'Interface';
import {
	isWeatherQueryByCoord,
	isLocationWeatherInfoLoading,
	isLocationWeatherInfoErrored,
	isLocationWeatherInfoLoaded,
} from '../typeGuards';
import DefaultLayout from '@/layouts/DefaultLayout.vue';
import { useToast } from 'vue-toastification';
import { useLocationsStore } from '../stores/locations';

const toast = useToast();

const showCurrentLocationWarning = ref(false);

function getUrl(query: WeatherQueryByCoord | WeatherQuerySearch) {
	if (isWeatherQueryByCoord(query)) {
		return `/location?lat=${query.lat}&lon=${query.lon}`;
	}

	return `/location?q=${query.q}`;
}

const weatherStore = useWeatherStore();
const settingsStore = useSettingsStore();
const locationsStore = useLocationsStore();

async function getCurrentLocation() {
	showCurrentLocationWarning.value = false;
	const key = getQueryKey(CURRENT_LOCATION_KEY);
	if (!key) {
		return;
	}

	try {
		if (!weatherStore.locations[key]) {
			weatherStore.addLocationLoading(key);
		}
		const location = await settingsStore.getUserLocation();
		try {
			await weatherStore.getWeatherCondition(location, {
				key,
			});
		} catch (e) {
			if (e instanceof Error) {
				toast.error(e.message);
			}
		}
	} catch (e) {
		if (key) {
			weatherStore.removeLocation(key);
		}
		showCurrentLocationWarning.value = true;
	}
}

function initView() {
	locationsStore.queries.forEach((query) => {
		weatherStore.getWeatherCondition(query).catch((e: unknown) => {
			if (e instanceof Error) {
				toast.error(e.message);
			}
		});
	});

	getCurrentLocation();
}

onMounted(async () => {
	initView();
});

function onReset() {
	weatherStore.locations = {};
	initView();
}

const locations = computed<LocationCardProps[]>(() => {
	const locs: LocationCardProps[] = [];

	function addLocation(info: LocationWeatherInfo, current = false) {
		if (!info) {
			return;
		}

		if (isLocationWeatherInfoErrored(info)) {
			return;
		}

		if (isLocationWeatherInfoLoading(info)) {
			locs.push({
				id: info.id,
				data: {
					loading: true,
				},
				current,
			});
		} else if (isLocationWeatherInfoLoaded(info)) {
			locs.push({
				id: info.id,
				data: {
					name: info.response.name,
					url: getUrl(info.query),
					temp: info.response.main.temp,
					loading: false,
					units: info.query.units,
				},
				current,
			});
		}
	}

	const currLocKey = getQueryKey(CURRENT_LOCATION_KEY);
	if (currLocKey) {
		const currentLocation = weatherStore.getWeatherByKey(currLocKey);
		if (currentLocation) {
			addLocation(currentLocation, true);
		}
	}

	locationsStore.queries.forEach((query) => {
		const currentLocation = weatherStore.getWeatherByQuery(query);
		if (currentLocation) {
			addLocation(currentLocation);
		}
	});

	return locs;
});

function getLocationKey(location: LocationDetails) {
	if (location.state) {
		return `${location.name},${location.state},${location.country}`;
	}

	return `${location.name},${location.country}`;
}

async function onLocationAdd(location: LocationDetails) {
	const q = getLocationKey(location);
	const query: SearchQuery = {
		q,
	};
	try {
		await weatherStore.getWeatherCondition(query);
		locationsStore.addQuery(query);
	} catch (e: unknown) {
		if (e instanceof Error) {
			toast.error(e.message);
		}
	}
}

function onLocationRemove(id: string) {
	if (!id) {
		return;
	}

	const loc = id.split(':')[1];
	delete weatherStore.locations[loc];
	locationsStore.removeQuery(loc);
}
</script>

<template>
	<DefaultLayout :title="$t('generic.dashboard')" @reset="onReset">
		<div
			role="banner"
			:class="$style.banner"
			v-if="showCurrentLocationWarning"
		>
			{{ $t('errors.locationAccessError') }}
		</div>
		<LocationCardGrid
			:locations="locations"
			@add="onLocationAdd"
			@remove="onLocationRemove"
		/>
	</DefaultLayout>
</template>

<style lang="scss" module>
.banner {
	color: var(--color-text-inverted);
	background-color: var(--color-warning);
	border: 1px solid var(--color-border);
	margin-bottom: 8px;
	padding: 8px;
	font-size: 16px;
	border-radius: 4px;
}
</style>
