<script setup lang="ts">
import { isCoord, isSearchQuery } from '../typeGuards';
import type { Coordinate, SearchQuery } from 'Interface';
import { computed, onMounted, ref, type Ref } from 'vue';
import { useRoute, useRouter } from 'vue-router';
import { useWeatherStore } from '@/stores/weather';
import TemperatureSummary from '@/components/TemperatureSummary.vue';
import WeatherSummary from '@/components/WeatherSummary.vue';
import DefaultLayout from '@/layouts/DefaultLayout.vue';
import { useToast } from 'vue-toastification';
import { useI18n } from 'vue-i18n';

const query: Ref<null | SearchQuery | Coordinate> = ref(null);
const weatherStore = useWeatherStore();
const router = useRouter();
const route = useRoute();
const toast = useToast();
const i18n = useI18n();

async function initView() {
	const q = route.query.q;
	if (typeof q === 'string') {
		query.value = {
			q,
		};
	} else {
		const lat = route.query.lat;
		const lon = route.query.lon;
		if (
			typeof lat === 'string' &&
			typeof lon === 'string' &&
			!isNaN(parseFloat(lat)) &&
			!isNaN(parseFloat(lon))
		) {
			query.value = {
				lat: parseFloat(lat),
				lon: parseFloat(lon),
			};
		}
	}

	if (!query.value) {
		toast.error(i18n.t('errors.missingParameters'));
		router.push(`/error`);
		return;
	}
	try {
		if (isCoord(query.value)) {
			return await weatherStore.getWeatherCondition(query.value);
		} else if (isSearchQuery(query.value)) {
			return await weatherStore.getWeatherCondition(query.value);
		}
	} catch (e: unknown) {
		if (e instanceof Error) {
			toast.error(i18n.t(e.message));
			router.push(`/error`);
			return;
		}
	}
}

onMounted(async () => {
	initView();
});

function onReset() {
	weatherStore.locations = {};
	initView();
}

const info = computed(() => {
	if (query.value) {
		return weatherStore.getWeatherByQuery(query.value);
	}

	return undefined;
});
</script>

<template>
	<DefaultLayout
		:title="
			info && !info.loading && !info.error
				? info.response.name
				: undefined
		"
		:loading="info?.loading"
		:back="true"
		@reset="onReset"
	>
		<div
			:class="$style.section"
			v-if="info && !info.loading && !info.error"
		>
			<TemperatureSummary
				:class="$style.summary"
				:temp="info.response.main.temp"
				:max-temp="info.response.main.temp_max"
				:min-temp="info.response.main.temp_min"
				:condition="info.response.weather?.[0]?.main"
				:units="info.query.units"
			/>
			<WeatherSummary :response="info.response" />
		</div>
	</DefaultLayout>
</template>

<style lang="scss" module>
.section {
	display: flex;
	flex-direction: column;

	> div {
		flex-grow: 1;
	}
}

.summary {
	margin-bottom: 48px;
}

@media only screen and (min-width: 600px) {
	.section {
		flex-direction: row;
	}
}
</style>
