<script setup lang="ts">
import FAIcon from './FAIcon.vue';
import { ref, type Ref } from 'vue';
import { useLocationsStore } from '../stores/locations';
import { computed } from 'vue';
import type { LocationsInfo, LocationDetails } from 'Interface';
import { useToast } from 'vue-toastification';

const locationsStore = useLocationsStore();
const toast = useToast();

const showInput = ref(false);
const search = ref('');
const select: Ref<HTMLInputElement | null> = ref(null);
const emit = defineEmits<{
	(event: 'select', location: LocationDetails): void;
}>();

function onShowInput() {
	if (!showInput.value) {
		showInput.value = true;
	}

	setTimeout(() => {
		if (select.value) {
			select.value.focus();
		}
	}, 0);
}

async function loadLocations(data: string) {
	try {
		search.value = data;
		if (data) {
			await locationsStore.searchLocations(data);
		}
	} catch (e: unknown) {
		if (e instanceof Error) {
			toast.error(e.message);
		}
	}
}

const response = computed((): LocationsInfo | undefined => {
	const response = locationsStore.getLocationBySearch(search.value);
	if (response && !response.loading && !response.error) {
		return response;
	}

	return undefined;
});

const options = computed((): { label: string; value: LocationDetails }[] => {
	if (!response.value || response.value.error || response.value.loading) {
		return [];
	}

	return response.value.response.map((location) => {
		let label = location.name;
		label += location.state ? `, ${location.state}` : '';
		label += `, ${location.country}`;

		return {
			label,
			value: location,
		};
	});
});

function onSelect(value: LocationDetails) {
	emit('select', value);
	showInput.value = false;
}
</script>

<template>
	<div
		:class="[$style.card, 'add-location-card']"
		@click="onShowInput"
		v-if="!showInput"
		role="button"
	>
		<FAIcon name="plus" />
	</div>
	<div v-else :class="[$style.card, 'add-location-card']">
		<el-select
			filterable
			remote
			default-first-option
			:placeholder="$t('generic.search')"
			:remote-method="loadLocations"
			:loading="response?.loading"
			@change="onSelect"
			:class="$style.select"
			ref="select"
		>
			<el-option
				v-for="(item, i) in options"
				:key="i"
				:label="item.label"
				:value="item.value"
			/>
		</el-select>
	</div>
</template>

<style lang="scss" module>
.card {
	padding: 8px;
	display: flex;
	border: solid 2px var(--color-border);
	font-size: 24px;
	min-width: 250px;
	height: 56px;
	align-items: center;
	border-radius: 4px;
	cursor: pointer;
	justify-content: center;

	*:first-child {
		flex-grow: 1;
		margin-right: 6px;
	}

	&:hover {
		border-color: var(--color-primary-shade-1);
		color: var(--color-primary);
	}
}

.select {
	max-width: 90%;
}
</style>
