<script setup lang="ts">
export interface FAIconProps {
	name: 'arrow-left' | 'sun' | 'moon' | 'plus';
	size?: 'small' | 'medium' | 'large';
}

withDefaults(defineProps<FAIconProps>(), {
	size: 'medium',
	theme: 'default',
});
</script>

<template>
	<i :class="['fa', `fa-${name}`, $style[size]]"></i>
</template>

<style module>
.small {
	font-size: 12px;
}

.medium {
	font-size: 16px;
}

.large {
	font-size: 24px;
}
</style>
