<script setup lang="ts">
import type { Temperature, UnitType } from 'Interface';
import EllipsisLoader from './EllipsisLoader.vue';
import type FAIcon from './FAIcon.vue';

export interface LocationCardPropsLoading {
	loading: true;
}

export interface LocationCardPropsLoaded {
	loading: false;
	name: string;
	url: string;
	temp: Temperature;
	units: UnitType;
}

export interface LocationCardProps {
	id: string;
	data: LocationCardPropsLoaded | LocationCardPropsLoading;
	current: boolean;
}

const props = defineProps<LocationCardProps>();

const emit = defineEmits<{
	(event: 'remove', location: string): void;
}>();

function onRemove(event: MouseEvent) {
	event.preventDefault();
	event.stopPropagation();
	emit('remove', props.id);
}
</script>

<template>
	<RouterLink
		v-if="!data.loading"
		:to="data.url"
		:class="[$style.card, 'location-card']"
	>
		<div :class="$style.loc">
			{{ current ? $t('dashboard.myLocation') : data.name }}
		</div>
		<div :class="$style.temp" v-if="data.units === 'imperial'">
			{{
				$t('generic.temperatureInFahrenheit', {
					temp: Math.floor(data.temp),
				})
			}}
		</div>
		<div :class="$style.temp" v-else>
			{{
				$t('generic.temperatureInCelsius', {
					temp: Math.floor(data.temp),
				})
			}}
		</div>
		<button
			:title="$t('card.remove')"
			:aria-label="$t('card.remove')"
			:class="$style.minus"
			@click="onRemove"
			v-if="!current"
		>
			<FAIcon name="minus" />
		</button>
	</RouterLink>
	<div v-else :class="[$style.card, 'location-card']">
		<EllipsisLoader />
	</div>
</template>

<style lang="scss" module>
.card {
	padding: 8px 26px 8px 26px;
	display: flex;
	border: solid 2px var(--color-border);
	font-size: 24px;
	min-width: 250px;
	height: 56px;
	align-items: center;
	border-radius: 4px;
	position: relative;

	&:hover,
	&:focus,
	// support mobile touches
	&:active {
		border-color: var(--color-primary-shade-1);
		.minus {
			visibility: visible;
		}
	}
}

.loc {
	overflow: hidden;
	text-overflow: ellipsis;
	flex-grow: 1;
	white-space: nowrap;
}

.minus {
	margin-right: 6px;
	visibility: hidden;
	position: absolute;
	right: 2px;
	background-color: transparent;
	border: none;
	cursor: pointer;

	&:hover {
		color: var(--color-danger);
	}
}

.temp {
	color: var(--color-primary);
	margin-right: 8px;
}
</style>
