<script setup lang="ts">
import LocationCard from './LocationCard.vue';
import AddLocationCard from './AddLocationCard.vue';
import type { LocationCardProps } from './LocationCard.vue';
import type { LocationDetails } from 'Interface';

export interface LocationCardGridProps {
	locations: Array<LocationCardProps>;
}

defineProps<LocationCardGridProps>();

const emit = defineEmits<{
	(event: 'add', location: LocationDetails): void;
	(event: 'remove', id: string): void;
}>();
</script>

<template>
	<div :class="$style.grid">
		<AddLocationCard @select="emit('add', $event)" />
		<LocationCard
			v-for="location in locations"
			:key="location.id"
			v-bind="location"
			:class="$style.card"
			@remove="emit('remove', $event)"
		/>
	</div>
</template>

<style lang="scss" module>
.grid {
	display: grid;
	grid-gap: 4px;
	grid-template-columns: #{'repeat(auto-fit, minmax(min(300px, 100%), 1fr))'};
}
</style>
