<script setup lang="ts">
import FAIcon from '@/components/FAIcon.vue';
import { useSettingsStore } from '../stores/settings';
import { storeToRefs } from 'pinia';

const settingsStore = useSettingsStore();

const { theme, units } = storeToRefs(settingsStore);

const emit = defineEmits<{
	(event: 'reset'): void;
}>();

function onThemeToggle() {
	settingsStore.setTheme(theme.value === 'dark' ? 'light' : 'dark');
}

function onUnitsToggle() {
	settingsStore.setUnits(units.value === 'metric' ? 'imperial' : 'metric');
	emit('reset');
}
</script>

<template>
	<div :class="$style.buttons">
		<button
			v-if="theme === 'dark'"
			:aria-label="$t('settings.setDarkTheme')"
			:title="$t('settings.setDarkTheme')"
			:class="$style.button"
			@click="onThemeToggle"
		>
			<FAIcon name="sun" />
		</button>
		<button
			v-else-if="theme === 'light'"
			:class="$style.button"
			:title="$t('settings.setLightTheme')"
			:aria-label="$t('settings.setLightTheme')"
			@click="onThemeToggle"
		>
			<FAIcon name="moon" />
		</button>

		<button
			v-if="units === 'imperial'"
			:class="$style.button"
			:title="$t('settings.setMetricUnits')"
			:aria-label="$t('settings.setMetricUnits')"
			@click="onUnitsToggle"
		>
			°C
		</button>
		<button
			v-else
			:class="$style.button"
			@click="onUnitsToggle"
			:title="$t('settings.setImperialUnits')"
			:aria-label="$t('settings.setImperialUnits')"
		>
			°F
		</button>
	</div>
</template>

<style lang="scss" module>
.buttons {
	display: flex;
	position: fixed;
	bottom: 16px;
	right: 16px;
	> * {
		margin-right: 8px;
	}
}

.button {
	min-height: 48px;
	width: 48px;
	font-size: 18px;
	display: flex;
	align-items: center;
	justify-content: center;

	background-color: var(--color-primary);
	color: var(--color-text);
	border: none;

	cursor: pointer;
}
</style>
