<script setup lang="ts">
import type { Temperature, UnitType } from 'Interface';

export interface TemperatureSummaryProps {
	temp: Temperature;
	minTemp: Temperature;
	maxTemp: Temperature;
	units: UnitType;
	condition?: string;
}

const props = defineProps<TemperatureSummaryProps>();
const tempUnitTranslationKey =
	props.units === 'imperial'
		? 'generic.temperatureInFahrenheit'
		: 'generic.temperatureInCelsius';
</script>

<template>
	<div :class="['temperature-summary', $style.summary]">
		<div>
			<div v-if="condition" :class="$style.condition">
				{{ condition }}
			</div>
			<div :class="$style.temp">
				{{
					$t(tempUnitTranslationKey, {
						temp: Math.floor(temp),
					})
				}}
			</div>
			<div>
				<div :class="$style.range">
					<span>
						{{
							$t('temperatureSummary.low', {
								temp: Math.floor(minTemp),
							})
						}}
						{{
							$t(tempUnitTranslationKey, {
								temp: Math.floor(minTemp),
							})
						}}
					</span>
					<span>
						{{
							$t('temperatureSummary.high', {
								temp: Math.floor(maxTemp),
							})
						}}
						{{
							$t(tempUnitTranslationKey, {
								temp: Math.floor(maxTemp),
							})
						}}
					</span>
				</div>
			</div>
		</div>
	</div>
</template>

<style lang="scss" module>
.summary {
	display: flex;
	align-items: center;
	justify-content: center;
}

.condition {
	font-size: 18px;
	text-align: center;
}

.temp {
	font-size: 60px;
	color: var(--color-primary);
	line-height: 1;
	margin-bottom: 8px;
}

.range {
	text-align: center;
	font-size: 18px;

	> *:first-child {
		margin-right: 8px;
	}
}
</style>
