<script setup lang="ts">
import type { Meters, TimeUTC, WeatherResponse } from 'Interface';
import { useI18n } from 'vue-i18n';

export interface WeatherSummaryProps {
	response: WeatherResponse;
}

const i18n = useI18n({});
const props = defineProps<WeatherSummaryProps>();

const views: { id: string; name: string; value: string }[] = [];
if (typeof props.response.sys?.sunrise === 'number') {
	views.push({
		id: 'sunrise',
		name: i18n.t('weather.sunrise'),
		value: utcToTime(props.response.sys.sunrise),
	});
}

if (typeof props.response.sys?.sunset === 'number') {
	views.push({
		id: 'sunset',
		name: i18n.t('weather.sunset'),
		value: utcToTime(props.response.sys.sunset),
	});
}

if (typeof props.response.main.humidity === 'number') {
	views.push({
		id: 'humidity',
		name: i18n.t('weather.humidity'),
		value: i18n.t('generic.percent', props.response.main.humidity),
	});
}

if (typeof props.response.visibility === 'number') {
	views.push({
		id: 'visibility',
		name: i18n.t('weather.visibility'),
		value: i18n.t(
			'generic.kilometers',
			metersToKM(props.response.visibility)
		),
	});
}

if (typeof props.response.snow?.['1h'] === 'number') {
	views.push({
		id: 'snow',
		name: i18n.t('weather.snow'),
		value: i18n.t('generic.milimiters', props.response.snow['1h']),
	});
}

if (typeof props.response.rain?.['1h'] === 'number') {
	views.push({
		id: 'rain',
		name: i18n.t('weather.rain'),
		value: i18n.t('generic.milimiters', props.response.rain['1h']),
	});
}

if (typeof props.response.clouds?.all === 'number') {
	views.push({
		id: 'clouds',
		name: i18n.t('weather.clouds'),
		value: i18n.t('generic.percent', props.response.clouds.all),
	});
}

function showBottomBorder(total: number, i: number) {
	if (total % 2 === 0) {
		return i < total - 2;
	}

	return i < total - 1;
}

function metersToKM(meters: Meters): number {
	return Math.floor(0.001 * meters);
}

function utcToTime(time: TimeUTC): string {
	const date = new Date(time * 1000);
	let minutes = date.getMinutes().toString();
	minutes = minutes.length === 1 ? `0${minutes}` : minutes;

	let hours = date.getHours().toString();
	hours = hours.length === 1 ? `0${hours}` : hours;

	return `${hours}:${minutes}`;
}
</script>

<template>
	<div :class="['weather-summary', $style.grid]">
		<div
			v-for="(view, i) in views"
			:key="view.id"
			:class="{
				[$style.bottomBordered]: showBottomBorder(views.length, i),
			}"
		>
			<div>
				{{ view.name }}
			</div>
			<div>
				{{ view.value }}
			</div>
		</div>
	</div>
</template>

<style lang="scss" module>
.grid {
	display: grid;
	grid-template-columns: auto auto;

	> div {
		padding: 16px;
		display: flex;
		flex-direction: column;
		align-items: center;
		font-size: 18px;
	}

	> div:nth-child(odd) {
		border-right: solid 2px var(--color-primary-shade-1);
	}
}

.bottomBordered {
	border-bottom: solid 2px var(--color-primary-shade-1);
}
</style>
