<script setup lang="ts">
import { RouterView } from 'vue-router';
import { useSettingsStore } from './stores/settings';
import { onMounted, watch } from 'vue';
import { storeToRefs } from 'pinia';

const settingsStore = useSettingsStore();

const { theme } = storeToRefs(settingsStore);

function setTheme() {
	const root = document.getElementsByTagName('html')[0];
	root.classList.remove('light');
	root.classList.remove('dark');
	root.classList.add(`${settingsStore.theme}`);
}

onMounted(setTheme);
watch(theme, setTheme);
</script>

<template>
	<RouterView />
</template>

<style scoped>
header {
	line-height: 1.5;
	max-height: 100vh;
}

.logo {
	display: block;
	margin: 0 auto 2rem;
}

nav {
	width: 100%;
	font-size: 12px;
	text-align: center;
	margin-top: 2rem;
}

nav a.router-link-exact-active {
	color: var(--color-text);
}

nav a.router-link-exact-active:hover {
	background-color: transparent;
}

nav a {
	display: inline-block;
	padding: 0 1rem;
	border-left: 1px solid var(--color-border);
}

nav a:first-of-type {
	border: 0;
}
</style>
