<script setup lang="ts">
import SettingButtons from '@/components/SettingButtons.vue';
import FAIcon from '@/components/FAIcon.vue';

export interface LayoutProps {
	title?: string;
	loading?: boolean;
	back?: boolean;
}

defineProps<LayoutProps>();
</script>

<template>
	<header>
		<nav>
			<RouterLink
				v-if="back"
				to="/"
				:aria-label="$t('generic.back')"
				:title="$t('generic.back')"
			>
				<FAIcon name="arrow-left" size="large" />
			</RouterLink>
		</nav>
		<h1 v-if="title" :class="$style.title">
			{{ title }}
		</h1>
	</header>
	<main v-if="!loading">
		<slot />
	</main>
	<footer>
		<SettingButtons @reset="$emit('reset')" />
	</footer>
</template>

<style lang="scss" module>
header {
	margin-bottom: 16px;
}
.title {
	font-size: 32px;
	font-weight: 600;
	text-align: center;
}
</style>
